language: python
python:
  - "2.7"
# command to install dependencies
install:
  - pip install -r requirements.txt
# command to run tests
script:
  - py.test print.py --junitxml=report\test_one_func.xml
  #- py.test worm2.py --junitxml=report\test_two_func.xml
deploy:
  provider: pages
  skip-cleanup: true
  github-token: $dailiywork_token # Set in travis-ci.org dashboard, marked secure
  keep-history: true
  on:
    branch: master
